.fs-9 {
    font-size: 0.9rem !important;
}
.fs-8 {
    font-size: 0.8rem !important;
}
.fs-7 {
    font-size: 0.7rem !important;
}
.rounded-fill {
    border-radius: 0.5rem !important;
}
.rounded-fill-2 {
    border-radius: 1rem !important;
}
.shadow-card {
    box-shadow: $shadow-card;
}
.shadow-bottom {
    box-shadow: $shadow-bottom;
}
.shadow-line {
    box-shadow: $shadow-line;
}
.py-2-5 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.w-fit {
    width: fit-content !important;
}
.w-1200 {
    max-width: 1200px !important;
}
.w-950 {
    max-width: 950px !important;
}
.w-750 {
    max-width: 750px !important;
}
.w-500 {
    max-width: 500px !important;
}
.zindex-up {
    z-index: 999 !important;
}
.filter-light {
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(900%) contrast(100%);
}
.filter-dark {
    filter: invert(17%) sepia(9%) saturate(0%) hue-rotate(214deg) brightness(105%) contrast(95%);
}
.filter-success {
    filter: invert(45%) sepia(63%) saturate(1396%) hue-rotate(137deg) brightness(94%) contrast(101%);
}
.filter-danger {
    filter: invert(45%) sepia(53%) saturate(2078%) hue-rotate(327deg) brightness(99%) contrast(106%);
}
.filter-primary {
    filter: invert(44%) sepia(38%) saturate(5411%) hue-rotate(172deg) brightness(94%) contrast(91%);
}
.date-icon-none {
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
        background: unset;
    }
}
.img-none {
    background-image: none !important;
}
.bg-dark-5 {
    background-color: #00000005;
}
.before-none {
    &::before {
        display: none;
    }
}
.after-none {
    &::after {
        display: none;
    }
}
.only-desktop {
    @include for-size(tablet) {
        display: none !important;
    }
}
.only-mobile {
    display: none !important;
    @include for-size(tablet) {
        display: block !important;
    }
}
.section-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
