/*=========Theme Colors===========*/
$bg-color: #f9f9f9;
$text-color: #333;

$shadow-line: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
$shadow-card: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
$shadow-bottom: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

/*=========Custom Colors===========*/
$white: #fff;
$gray: #ebebeb;
$smoke: #f8f8f8;
$orange: #ffaa44;
/*=========Colors===========*/
$primary: #c72127;
$success: #a7d454;
$danger: #ff8673;
$warning: #f6af06;
$info: #2185c7;
$secondary: #666;
$light: #f1f1f1;
$dark: #1f1f1f;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);
/*======================*/
