/*
    Poppins 
    font-family: 'Poppins', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap");

$poppins: "Poppins", sans-serif;
$bootstrap-icons: "bootstrap-icons", "bootstrap-icons";

.poppins {
    font-family: $poppins !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
