.card {
    border-color: transparent;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    &:is(.h-100) {
        margin-bottom: unset;
    }
    &-search {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        .form-list {
            min-width: 300px;
            background-color: #f5f4f7;
            .input-group {
                background-color: inherit;
            }
            &:focus-within {
                .form-list-data {
                    top: 52px;
                }
            }
        }
        @include for-size(tablet) {
            flex-basis: 100%;
            .form-list {
                max-width: unset;
                width: 100%;
            }
        }
    }
    &-video {
        position: relative;
        overflow: hidden;
        margin: -1rem -1rem 0 -1rem;
        width: calc(100% + 2rem);
        border: 4px solid white;
        border-radius: 0.5rem 0.5rem 0 0;
        min-height: 200px;
        &-control {
            position: absolute;
            inset: 0;
            display: inline-flex;
            background: url(/assets/images/backgrounds/video-problem.svg) no-repeat center;
            background-size: cover;
            background-position: center;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            color: $white;
            transition: all 0.4s ease-in-out;
            &:hover {
                filter: grayscale(1);
            }
            &.active {
                display: none;
            }
            &.viewed {
                filter: grayscale(1);
            }
        }
        @include for-size(tablet) {
            margin-bottom: 2rem;
            max-height: 300px;
            iframe {
                height: 300px;
            }
        }
        @include for-size(phone) {
            max-height: 220px;
            iframe {
                height: 220px;
            }
        }
    }
    &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        &-title {
            font-family: $montserrat;
            font-weight: 700;
            font-size: 1.5rem;
            margin-bottom: unset;
            word-break: break-word;
        }
        a[role="button"] {
            font-size: 0.85rem;
            text-decoration: underline;
            color: $primary;
        }
    }
    &-search {
        .input-group {
            &-blur {
                background-color: $white;
                width: 100%;
                max-width: 100%;
                justify-content: flex-start;
                .form-floating {
                    .form-control,
                    .form-select {
                        color: $text-color;
                    }
                    label {
                        color: $text-color;
                    }
                }
                .btn-submit {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }
    &-mascot {
        background: $primary url(..//assets/images/mascots/mascot-1.svg) no-repeat bottom right;
        background-size: contain;
        border-radius: 0.5rem;
        padding: 2rem;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            max-width: 750px;
        }
        @include for-size(tablet) {
            padding: 1rem;
            background-image: unset;
        }
    }
    &-image {
        margin: -1rem -1rem 0rem -1rem;
        border-radius: 0.5rem 0.5rem 0 0;
        overflow: hidden;
        .carousel-img {
            max-height: 200px;
            width: 100%;
            object-fit: cover;
        }
    }
    &-language {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include for-size(desktop-lg) {
            flex-direction: column;
            align-items: flex-start;
            &-actions {
                width: 100%;
                margin-top: 1rem;
                .btn {
                    width: 100%;
                }
            }
        }
    }
    &-payment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        &-content {
            &-item {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-top: 0.5rem;
                .form-check {
                    &-input {
                        width: 1.5em;
                        height: 1.5em;
                    }
                    @include for-size(tablet) {
                        position: absolute;
                        right: 1rem;
                        top: 1rem;
                    }
                }
                .school-logo {
                    min-width: 150px;
                    text-align: center;
                }
                @include for-size(tablet) {
                    margin-top: 1rem;
                }
            }
            @include for-size(tablet) {
                width: 100%;
            }
        }
        &-price {
            text-align: center;
            padding-right: calc(1rem + 50px);
            position: relative;
            .btn-delete {
                position: absolute;
                background-color: #ff555540;
                cursor: pointer;
                font-size: 1.3rem;
                padding: 0.2rem 0.5rem;
                border-radius: 13px;
                color: $danger;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
            @include for-size(tablet) {
                width: 100%;
            }
        }
        @include for-size(tablet) {
            flex-direction: column;
            align-items: flex-start;
        }
        &-icon {
            width: 45px;
            height: 45px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: $light;
            color: $text-color;
            border-radius: 100%;
            font-size: 1.5rem;
        }
        &-input {
            flex: auto;
        }
        &.card-payment-border {
            justify-content: flex-start;
            gap: 1rem;
        }
    }
    &-app {
        min-height: 55px;
        display: flex;
        gap: 1rem;
        align-items: center;
        &-icon {
            width: 45px;
            height: 45px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #eff1f8;
            color: #333;
            border-radius: 10px;
            font-size: 1.5rem;
        }
        &-text {
            flex: auto;
        }
    }
    &-carousel {
        .gallery-swiper {
            max-height: 220px;
            border-radius: 0.5rem;
            .swiper-slide {
                img {
                    height: 220px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 0.5rem;
                }
            }
            @include for-size(tablet) {
                margin-bottom: 2rem;
            }
        }
    }
    &-content {
        &-data {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    &-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: $gray;
        padding: 1rem;
        border-top: unset;
        margin: 1rem -1rem -1rem -1rem;
        // margin-top: 1rem;
    }
}

.card-scroll {
    overflow-y: auto;
    max-height: 400px;
    padding-right: 1rem !important;
    gap: 0.5rem;
    &::-webkit-scrollbar {
        width: 3px;
        background-color: $light;
        border-radius: 3rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 2rem;
    }
}

.card-courses {
    padding-top: 2rem;
    .form-row {
        position: relative;
        top: 2.5rem;
    }
    .input-group {
        &.input-group-blur {
            background-color: $white;
            margin: 0 auto;
            width: auto;
            max-width: 1300px;
            @extend .shadow-line;
            .form-control,
            .form-select,
            .form-input {
                color: $text-color;
                border-right-color: rgb(0 0 0 / 6%);
            }
            label {
                color: $text-color;
            }
            .form-select {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
                background-position: right 0.75rem center;
                background-size: 16px 12px;
            }
            .form-control {
                background-image: unset;
            }
            .form-floating {
                @include for-size(tablet) {
                    background-color: #e3e3e3;
                }
            }
            .btn-submit {
                background-color: $primary;
                color: $white;
            }
            @include for-size(tablet) {
                background-color: unset;
                border: unset;
                box-shadow: unset;
            }
        }
    }
    @include for-size(tablet) {
        padding-bottom: 2rem;
        .form-row {
            top: 0;
        }
    }
}

.card-address {
    min-height: 250px;
    border: 1px solid $gray;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: unset;
    &-header {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid $gray;
    }
    &-body {
        padding: 1rem;
        flex: 1 1 auto;
    }
    &-footer {
        padding: 0.5rem 1rem;
        border-top: 1px solid $gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &.new {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-style: dashed;
        border-width: 3px;
        text-align: center;
        color: $text-color;
        font-size: 1.3rem;
        height: 100%;
        transition: all 0.4s ease-in-out;
        .card-address-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 1rem;
            gap: 0.5rem;
            font-weight: 500;
            color: $secondary;
            i {
                @extend .shadow-line;
                width: 90px;
                height: 90px;
                background-color: #ffffff;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem !important;
                border-radius: 100%;
                color: $secondary;
            }
        }
        &:hover {
            border-color: $primary;
            color: $primary;
            .card-address-btn {
                color: $primary;
                i {
                    color: $primary;
                }
            }
        }
    }
}
.card-dashboard {
    background-color: whitesmoke;
    padding: 3rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    position: relative;
    &.status-success {
        background-color: #6fff5514;
        .card {
            border-color: transparent;
        }
    }
    &.status-danger {
        background-color: #ff555514;
        .card {
            border-color: transparent;
        }
    }
    &.status-warning {
        background-color: #ffe25514;
        .card {
            border-color: transparent;
        }
    }
    &-title {
        position: absolute;
        top: 0rem;
        left: 0;
        right: 0;
        text-align: center;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 1.2rem;
        background-color: #00000005;
        margin: 0 auto;
        padding: 0.2rem 0.5rem;
        border-radius: 0.3rem 0.3rem 0 0;
        overflow: hidden;
    }
}
.card-preview-content {
    position: relative;
    perspective: 800px;
    height: 180px;
    .card-preview {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        backface-visibility: hidden;
        transition: 0.6s all ease-in-out;
        width: 400px;
        height: 180px;
        background-color: $primary;
        border-radius: 0.5rem;
        color: $white;
        padding: 1rem;
        box-shadow: inset 0px 0px 0px 3px darkColor($primary, 0.5);
        margin-bottom: 1rem;
        &-head {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
        &-body {
            margin-top: 1rem;
            .card-input-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .card-input-cell {
                    .info-title {
                        font-size: 0.8rem;
                        font-weight: 400;
                    }
                }
            }
        }
        .card-line {
            height: 40px;
            width: calc(100% + 2rem);
            background: darkColor($primary, 30%);
            margin: 1rem -1rem;
        }
        &.front {
            transform: rotateY(0deg);
        }
        &.back {
            transform: rotateY(180deg);
        }
    }
    &.flip {
        .card-preview {
            &.front {
                transform: rotateY(180deg);
            }
            &.back {
                transform: rotateY(0deg);
            }
        }
    }
}
.file-cards-list {
    &-item {
        background-color: #f6f6f6;
        border-radius: 0.5rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 0.5rem;
        min-height: 60px;
        @include for-size(desktop-lg) {
            width: 100%;
        }
    }
    @include for-size(desktop-lg) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    @include for-size(tablet) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.card-empty {
    text-align: center;
}
.file-upload {
    &-drop {
        padding: 1rem;
        margin: 0.5rem 0;
        border-radius: 1rem;
        border: 3px dotted #efefef;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        transition: filter 0.2s ease-in-out;
        cursor: pointer;
        &:hover,
        &:focus {
            filter: opacity(0.7);
        }
    }
    &-list {
        &-item {
            display: flex;
            align-items: center;
            padding: 0.2rem 1rem;
            border: 1px solid #efefef;
            gap: 0.5rem;
            border-radius: 0.5rem;
            position: relative;
            .file-icon {
                font-size: 2rem;
            }
            .item-name {
                font-size: 0.9rem;
                color: $text-color;
            }
            .delete {
                position: absolute;
                right: 0.5rem;
                top: 0.5rem;
                cursor: pointer;
                background-color: #efefef;
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                transition: all 0.4s ease-in-out;
                &:hover {
                    background-color: rgba($danger, 0.4);
                    color: $danger;
                }
            }
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}
.card-filter {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background: $white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    &-title {
        word-break: break-all;
    }
    &-actions {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        flex-wrap: wrap;
        padding-left: 1rem;
        border-left: 1px solid #f7f7f7;
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        .btn-filter {
            max-height: 40px;
        }
        .form-select {
            background-color: #f7f7f7;
            border-color: #f7f7f7;
            min-height: 40px;
            font-size: 0.9rem;
            color: $secondary;
        }
    }
    &-tags {
        flex: 100%;
        border-top: 1px solid #f7f7f7;
        margin-top: -0.5rem;
        margin-left: -1rem;
        margin-right: -1rem;
        padding: 0.5rem 1rem 0 1rem;
        &:empty {
            padding: unset;
        }
    }
}
.card-program {
    background-color: $white;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 1rem;
    height: calc(100% - 1rem);
    margin-bottom: 1rem;
    &-head {
        background-color: #f7f7f7;
        background-size: cover;
        background-position: center center;
        position: relative;
        margin-bottom: 50px;
        padding: 1rem;
        border-radius: 0.5rem;
        .program-content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            position: relative;
            top: 50px;
        }
        .program-logo {
            max-width: 120px;
            max-height: 120px;
            border-radius: 1rem;
            padding: 0.3rem;
            background-color: $white;
            overflow: hidden;
            img {
                width: 120px;
                height: 120px;
                object-fit: contain;
            }
        }
        .program-action {
            position: relative;
            top: -15px;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            .btn {
                background-color: $white;
                width: 40px;
                height: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                @extend .shadow-line;
            }
        }
    }
    &-video {
        min-height: 150px;
        margin-bottom: 1.5rem;
        .program-content {
            top: 110px;
            .program-action {
                margin-left: auto;
                top: unset;
            }
        }
    }
    &-content {
        .title {
            font-weight: 700;
            font-size: 1.1rem;
        }
        .sub-title {
            font-size: 0.9rem;
            font-weight: 500;
            color: $secondary;
            line-height: 1.1;
            display: block;
        }
        .prop-list-item {
            gap: 0.3rem;
            i {
                font-size: 1.3rem;
            }
            .prop-text {
                line-height: 1.1;
                font-size: 0.75rem;
            }
        }
        [data-bs-toggle="collapse"] {
            .collapse-visible {
                display: block;
            }
            .collapse-hidden {
                display: none;
            }
            &[aria-expanded="true"] {
                .collapse-visible {
                    display: none;
                }
                .collapse-hidden {
                    display: block;
                }
            }
        }
    }
}
.dashboard {
    background-color: $white;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    &-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    &-mascot {
        text-align: center;
        @include for-size(desktop-lg) {
            margin-bottom: 1rem;
        }
    }
}
.certificate {
    min-width: 950px;
    min-height: 700px;
    background: url(/assets/images/backgrounds/certificate-download.jpg) no-repeat;
    background-size: contain;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    &-content {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 250px;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
    }
    &-footer {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 2rem;
        font-size: 0.55rem;
        font-weight: 500;
    }
}
