.filter-list {
    justify-content: center;
    gap: 1rem;
    &-item {
        width: 100px;
        background-color: $light;
        border-radius: 0.5rem;
        min-height: 120px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        align-items: center;
        flex-direction: column;
        word-break: break-all;
        .icon-format {
            font-size: 2.5rem;
            line-height: 0;
            margin-top: auto;
        }
        .icon-name {
            padding: 0.1rem 0.5rem;
            background-color: #2a2a2a;
            font-size: 0.6rem;
            font-weight: 500;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            margin-top: auto;
            color: $secondary;
            cursor: pointer;
            font-family: monospace;
            @include threeDots(2);
            &:focus {
                color: $info;
            }
        }
    }
}
.filter-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
